Repository atoma-network/atoma-proxy, pull requests merged in 2024-11, with the labels that each got.

#21 feat: add tokenizers and estimate token use
  Cargo.lock
  Cargo.toml
  atoma-proxy/Cargo.toml
  atoma-proxy/src/main.rs
  atoma-proxy/src/server/config.rs
  atoma-proxy/src/server/mod.rs
  atoma-proxy/src/sui/mod.rs
  atoma-state/src/handlers.rs
  atoma-state/src/state_manager.rs
  atoma-state/src/types.rs
Labels: state, sui

#24 feat: use full db url with the db name
  atoma-state/src/state_manager.rs
Labels: state

#23 feat: add openai openapi compatible documentation functionality, with utoipa and re-organize server mod
  .env.example
  Cargo.lock
  Cargo.toml
  atoma-proxy/Cargo.toml
  atoma-proxy/docs/openapi.yml
  atoma-proxy/src/server/chat_completions.rs
  atoma-proxy/src/server/components/mod.rs
  atoma-proxy/src/server/components/openapi.rs
  atoma-proxy/src/server/http_server.rs
  atoma-proxy/src/server/mod.rs
  atoma-proxy/src/server/streamer.rs
Labels: enhancement, openai-api
